@using GMG.Application.Common.Paginations
@using GMG.Domain.Products.Entities
@model PaginationResult<Product>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Name</th>
            <th>Price</th>
            <th>Product Type</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr data-id="@item.Id">
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price.ToString("C")</td>
                <td>@item.ProductType.Name</td>
                <td>@item.Stock</td>
            </tr>
        }
    </tbody>
</table>
<partial name="_Pagination" model="new PaginationViewModel(Model.Page, Model.TotalPages)" />